In [1]:
import pandas as pd
df = pd.read_csv('GooglePlayStore_wild.csv')
df

ModuleNotFoundError: No module named 'pandas'

## Узнай, какие столбцы нуждаются в очистке данных.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          9366 non-null   float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  object
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

## Проанализируй рейтинг приложений
1. Сколько в датасете приложений, у которых не указан ('NaN') рейтинг ('Rating')?
2. Замени пустое значение ('NaN') рейтинга ('Rating') для таких приложений на -1.

In [ ]:
len(df[pd.isnull(df['Rating'])])

1474

In [ ]:
df['Rating'].fillna(-1, inplace=True)
df['Rating']

/var/folders/hp/z71npf9j1011vv7k7dvvd6mr0000gn/T/ipykernel_44071/3568169471.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(-1, inplace=True)

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10835    4.5
10836    5.0
10837   -1.0
10838    4.5
10839    4.5
Name: Rating, Length: 10840, dtype: float64

In [ ]:
# # продвинутый способ -- заменяем на значение, которое встречается чаще всего
# # из-за inplace=True надо перезапустить
# r_max = df['Rating'].value_counts().index[0]
# df.fillna(r_max, inplace=True)
# df['Rating']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  object
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

## Измени тип данных размеров приложений
1. Определи, какое ещё значение размера ('Size') хранится в датасете помимо Килобайтов и Мегабайтов, замени его на -1.
2. Преобразуй размеры приложений ('Size') в числовой формат (float). Размер всех приложений должен измеряться в Мегабайтах (1 Мегабайт = 1024 Килобайт).
3. Чему равен максимальный размер ('Size') приложений из категории ('Category') 'TOOLS'?

In [ ]:
# Определение значений, отличных от килобайтов и мегабайтов
other_sizes = df[~df['Size'].str.contains(
    'k|M', case=False, na=False)]['Size']
print(f"Другие значения размера: {other_sizes.unique()} {len(other_sizes)}")

# Замена других значений на -1
df.loc[df['Size'].isin(other_sizes), 'Size'] = -1
df['Size']

Другие значения размера: ['Varies with device'] 1695

0         19M
1         14M
2        8.7M
3         25M
4        2.8M
         ...
10835     53M
10836    3.6M
10837    9.5M
10838      -1
10839     19M
Name: Size, Length: 10840, dtype: object

In [ ]:
def set_size(size):
    if size != -1:
        if size[-1] == 'M':
            return float(size[:-1])
        elif size[-1] == 'k':
            return float(size[:-1]) / 1024
    return -1


df['Size'] = df['Size'].apply(set_size)
df['Size']

0        19.0
1        14.0
2         8.7
3        25.0
4         2.8
         ...
10835    53.0
10836     3.6
10837     9.5
10838    -1.0
10839    19.0
Name: Size, Length: 10840, dtype: float64

In [ ]:
res = df.groupby(by='Category')['Size'].max()
print(res['TOOLS'])

df.groupby(by='Category')['Size'].max()

99.0

Category
ART_AND_DESIGN          39.0
AUTO_AND_VEHICLES       97.0
BEAUTY                  57.0
BOOKS_AND_REFERENCE     87.0
BUSINESS                98.0
COMICS                  40.0
COMMUNICATION           66.0
DATING                  77.0
EDUCATION               97.0
ENTERTAINMENT           78.0
EVENTS                  61.0
FAMILY                 100.0
FINANCE                100.0
FOOD_AND_DRINK          76.0
GAME                   100.0
HEALTH_AND_FITNESS     100.0
HOUSE_AND_HOME          77.0
LIBRARIES_AND_DEMO      99.0
LIFESTYLE              100.0
MAPS_AND_NAVIGATION     78.0
MEDICAL                100.0
NEWS_AND_MAGAZINES      62.0
PARENTING               98.0
PERSONALIZATION         91.0
PHOTOGRAPHY             96.0
PRODUCTIVITY            76.0
SHOPPING                98.0
SOCIAL                  96.0
SPORTS                 100.0
TOOLS                   99.0
TRAVEL_AND_LOCAL        90.0
VIDEO_PLAYERS           91.0
WEATHER                 54.0
Name: Size, dtype: float64

## Бонусное задание — 1
1. Замени тип данных на целочисленный (int) для количества установок ('Installs'). В записи количества установок ('Installs') знак «+» необходимо игнорировать. Т. е. если в датасете количество установок равно 1,000,000+, то необходимо изменить значение на 1000000.
2. Сгруппируй данные по типу ('Type') и целевой аудитории ('Content Rating') любым удобным для тебя способом, посчитай среднее количество установок ('Installs') в каждой группе. Результат округли до десятых.
В полученной таблице найди ячейку с самым большим значением.
К какой возрастной группе и типу приложений относятся данные из этой ячейки?

In [ ]:
df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  float64
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.2+ MB

In [ ]:
df['Installs']

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10835         5,000+
10836           100+
10837         1,000+
10838         1,000+
10839    10,000,000+
Name: Installs, Length: 10840, dtype: object

In [ ]:
other_inst = df[~df['Installs'].str.contains('\+', na=False)]['Installs'].unique()
other_inst

array(['0'], dtype=object)

In [ ]:
def convert_to_int(inst):
    if '+' in inst:
        inst = inst.replace('+', '')
    if ',' in inst:
        inst = inst.replace(',', '')
    return inst


df['Installs'] = df['Installs'].apply(convert_to_int)
df['Installs'] = df['Installs'].apply(int)

df['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10835        5000
10836         100
10837        1000
10838        1000
10839    10000000
Name: Installs, Length: 10840, dtype: int64

In [ ]:
res = df.pivot_table(columns='Type', index='Content Rating', values='Installs', aggfunc='mean').round(1)
res

Type                   Free      Paid
Content Rating
Adults only 18+    666666.7       NaN
Everyone         14231847.8   45283.6
Everyone 10+     34761492.9  742863.6
Mature 17+       11509621.4  569126.0
Teen             30026612.0  107441.0
Unrated             25250.0       NaN

In [ ]:
res.max()

Type
Free    34761492.9
Paid      742863.6
dtype: float64

## Бонусное задание — 2
## У какого приложения не указан тип ('Type')? Какой тип там необходимо записать в зависимости от цены?

In [ ]:
res = df[pd.isnull(df['Type'])]
print(res)
df.fillna('Free', inplace=True)

      Unnamed: 0                        App Category  Rating  Reviews  Size  \
9148        9148  Command & Conquer: Rivals   FAMILY    -1.0        0  -1.0

      Installs Type Price Content Rating    Genres   Last Updated  \
9148         0  NaN     0   Everyone 10+  Strategy  June 28, 2018

             Current Ver         Android Ver
9148  Varies with device  Varies with device

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  float64
 6   Installs        10840 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10840 non-null  object
 13  Android Ver     10840 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.2+ MB

In [ ]:
df

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,5000,Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10836,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10837,10838,Parkinson Exercices FR,MEDICAL,-1.0,3,9.5,1000,Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,-1.0,1000,Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,10000000,Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

## 2 практика
## Проанализируй стоимость приложений
1. Замени тип данных на дробное число (float) для цен приложений ('Price').
2. Вычисли, сколько долларов разработчики заработали на каждом платном приложении.
3. Чему равен максимальный доход ('Profit') среди платных приложений (Type == 'Paid')?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  float64
 6   Installs        10840 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10840 non-null  object
 13  Android Ver     10840 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.2+ MB

In [ ]:
df[pd.isnull(df['Price'])]

Empty DataFrame
Columns: [Unnamed: 0, App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [ ]:
df['Price'].value_counts()

Price
0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [ ]:
def new_price(price):
    return float(price.replace('$', ''))

df['Price'] = df['Price'].apply(new_price)
df['Price'] = df['Price'].apply(float)

In [ ]:
df['Price'].value_counts()

Price
0.00     10040
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

In [ ]:
df['Profit'] = df['Price'] * df['Installs']
df['Profit'].sum()

388629445.79

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  float64
 6   Installs        10840 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10840 non-null  float64
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10840 non-null  object
 13  Android Ver     10840 non-null  object
 14  Profit          10840 non-null  float64
dtypes: float64(4), int64(3), object(8)
memory usage: 1.2+ MB

In [ ]:
df[df['Type'] == 'Paid']['Profit'].max()

69900000.0

## Проанализируй жанры приложений
1. Создай новый столбец, в котором будет храниться количество жанров. Назови его 'Number of genres'.
2. Какое максимальное количество жанров ('Number of genres') хранится в датасете?

In [ ]:
df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Profit
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0.0
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0.0
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0.0
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0.0
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0.0

In [ ]:
df['Number of genres'] = df['Genres'].apply(lambda x: len(x.split(';')))

In [ ]:
df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Profit,Number of genres
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0.0,1
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0.0,2
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0.0,1
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0.0,1
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0.0,2

In [ ]:
df['Number of genres'].max()

2

## Бонусная задача
1. Создай новый столбец, хранящий сезон, в котором было произведено последнее обновление ('Last Updated') приложения. Назови его 'Season'.
2. Выведи на экран сезоны и их количество в датасете.